<div class="row">
  <div class="col-12">
    <h1>Welcome {{ user?.firstName??'Friend' }}!</h1>
  </div>
</div>
<ng-container *ngIf="user">
  <app-compose-post></app-compose-post>
  <h1>Your Timeline!</h1>
</ng-container>
<h1 *ngIf="user === undefined">Stay Connected, Stay Friendified!</h1>

<ng-container *ngIf="user !== undefined">
  <p-progressSpinner *ngIf="isLoading" [style]="{width: '50px', height: '50px'}"></p-progressSpinner>
  <p *ngIf="!isLoading && random">No posts available. Here are some random posts from random users.</p>
  <div *ngIf="(posts$ | async)!.length > 0">
    <div *ngFor="let post of posts$ | async">
      <div class="shadow-3 mb-4">
        <app-user-post [postIsPublic]=true [post]="post"></app-user-post>
      </div>
    </div>
  </div>
</ng-container>

<p-progressSpinner *ngIf="isLoading && user === undefined" [style]="{width: '50px', height: '50px'}"></p-progressSpinner>
<ng-container *ngIf="(publicPosts$ | async)!.length > 0">
  <div *ngIf="publicPosts$ && (publicPosts$ | async)!.length > 0; else noPosts">
    <div *ngFor="let post of publicPosts$ | async">
      <div class="shadow-3 mb-4">
        <app-user-post [postIsPublic]=true [post]="post"></app-user-post>
      </div>
    </div>
  </div>
  <ng-template #noPosts>
    <p>No posts available.</p>
  </ng-template>
</ng-container>

