<p-sidebar [(visible)]="visibleSidebar"
           [baseZIndex]="10000" position="left" class="side-menu">
  <ul class="layout-menu">
    <ng-container *ngFor="let item of model; let i = index;">
      <li app-menuitem *ngIf="!item.separator" [item]="item" [index]="i" [root]="true"></li>
      <li *ngIf="item.separator" class="menu-separator"></li>
    </ng-container>
  </ul>
</p-sidebar>

<!-- Add a button element to open the side menu -->
<!-- Use a (click) event binding to call the openSidebar method when the button is clicked -->
<p-button id="open-menu" class="open-menu" (click)="openSidebar()"><i class="pi pi-spin pi-cog" style="font-size: 2rem"></i></p-button>
