@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
/* FLEXXXXX */
@import 'primeflex/primeflex.scss';
@import 'primeicons/primeicons.css';
/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #5FDFF1;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #5FDFF1;
  border-color: #5FDFF1;
}
:root {
  .user-container {
    flex-direction: row;
  }
  .p-avatar {
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
  }
  .link {
    cursor: pointer;
  }
  .p-button {
    background: #5FDFF1;
    color: black;
    border: none;
    font-weight: bold;
    &:hover {
      background: rgb(47, 150, 177);
      color: black;
    }
    &.p-button-success {
      background: rgb(47, 150, 177);
      color: white;
      font-weight: bold;
    }
  }
}
