<div class="p-card mb-5 shadow-3">
  <div class="p-card-body">
    <div class="avatar">
      <img src="assets/media/profile.png">
    </div>
    <div class="info">
      <h2 class="name">{{ user?.firstName }} {{ user?.lastName }}</h2>
      <h3 class="username">@{{ user?.id }}</h3>
      <p class="location">{{ user?.city }}, {{ user?.country }}</p>
      <p class="bio">{{ user?.biography }}</p>
      <div class="follow-stats">
        <span class="followers">{{ user?.followers?.length || 0 }} followers</span>
        <span class="following">{{ user?.following?.length || 0 }} following</span>
      </div>
    </div>
    <div>
      <button pButton (click)="toggleFollow()">
        {{ isFollowing$.value ? 'Unfollow' : 'Follow' }}
      </button>
    </div>
  </div>
</div>
