<div class="p-card mb-5 shadow-3">
  <div class="p-card-body">
    <div class="avatar">
      <img src="{{ assetsUrl + user$.value?.picture?.url }}">
    </div>
    <div class="info">
      <h2 class="name">{{ user$.value?.firstName }} {{ user$.value?.lastName }}</h2>
      <h3 class="username">@{{ user$.value?.userName }}</h3>
      <p *ngIf="user$.value?.city && user$.value?.country" class="location">{{ user$.value?.city }}, {{ user$.value?.country }}</p>
      <p class="info">{{birthdate | age}}
        {{
        user$.value?.sex === 0 ? 'Male' :
          user$.value?.sex === 1 ? 'Female' :
            user$.value?.sex === 2 ? 'Other' :
              ''
        }} |
        {{
        user$.value?.status === 0 ? 'Single' :
          user$.value?.status === 1 ? 'In a relationship' :
            ''
        }}
      </p>
      <p class="bio">{{ user$.value?.biography }}</p>
      <div class="follow-stats">
        <span class="followers">{{ user$.value?.followers?.length || 0 }} followers</span>
        <span class="following">{{ user$.value?.following?.length || 0 }} following</span>
      </div>
    </div>
    <div *ngIf="loggedInUser?.userName !== user$.value?.userName">
      <button pButton (click)="toggleFollow()">
        {{ isFollowing$.value ? 'Unfollow' : 'Follow' }}
      </button>
    </div>
    <div *ngIf="loggedInUser?.userName === user$.value?.userName">
      <button pButton [routerLink]="'/edit-profile'">
        Edit Profile
      </button>
    </div>
  </div>
</div>
