<div class="chat-content">
  <div class="messages-container">
    <div class="messages">
      <div *ngFor="let message of messages$ | async" [ngClass]="{ 'message': true, 'self': message.userId === user?.id }">
        <div class="message-content" [ngClass]="{'self': message.userId === user?.id }">
          <p>{{ message.content }}</p>
        </div>
      </div>
      <!-- Add more messages as needed -->
    </div>
  </div>

    <form (ngSubmit)="sendMessage()">
      <div class="input-container">
      <input [(ngModel)]="message" name="message" class="message-input" type="text" placeholder="Type a message..." />
      <button class="send-button" type="submit">
        Send
      </button>
      </div>
    </form>
</div>
