<div class="sidebar">
  <ul class="sidebar-list mb-7">

    <li *ngFor="let name of messagedUsernames" class="sidebar-item" [ngClass]="{'active' : name === activeMessageTab}" (click)="loadMessages(name)">@{{name}}</li>
    <!-- Add more sidebar items as needed -->
  </ul>
  <ng-container *ngIf="following.length>0">
    <p>Start a new conversation:</p>
    <select [(ngModel)]="activeMessageTab" class="w-full mb-3 ng-pristine" (change)="loadMessages(activeMessageTab)">
      <option [value]="">Select</option>
      <option *ngFor="let user of following" [value]="user.username">@{{ user.username }}</option>
    </select>
  </ng-container>



</div>
